################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppRootStack
/AppRootStack/AppRootStack/bin/Debug/netstandard2.0
/AppRootStack/AppRootStack/obj
/AppRootStack/AppRootStack.Android/bin/Debug
/AppRootStack/AppRootStack.Android/obj
